{% extends 'application.html' %}

{% block content %}
  <h2>What?</h2>
  <p>gfxhub is a place to share graphics.</p>

  <h2>Why?</h2>
  <p>I was working on a raytracing program, and found I had collected several
  pictures that I thought people would like to see. Instead of hosting them all
  on some site like Imgur, I decided to make a simple site in Flask for fun.</p>

  <p>Possible goals for the site:</p>
  <ul>
    <li>Rating / Scoring of graphic quality, and promoting popular graphics on the front page.</li>
    <li>Place to provide information on different techniques used in users' graphics.</li>
    <li>Promote enthusiasm for computer graphics.</li>
  </ul>


  <p></p>
{% endblock %}
