{% extends "layout.html" %}

{% block header %}
  <h1><a href="/">gfxhub</a></h1>
{% endblock %}

{% block content %}
  {% if name %}
    <h2>Welcome, {{ name }}.</h2>
  {% else %}
    <h2>Welcome.</h2>
  {% endif %}
  <p><a href="/contribute">Post some graphics of your own</a></p>
  <p><a href="/g/">Check out others' contributions</a></p>
  <p><a href="/g/popular">View the most popular contributions</a></p>
{% endblock %}

{% block footer %}
  <p>Chris Laverdiere 2014 | <a href="/about">about</a></p>
{% endblock %}
