{% extends 'application.html' %}

{% block content %}
  <h2>Contributing a graphic you've created is easy.</h2>
    
  <form action="" method="post" "enctype=multipart/form-data">
    <select name="category-picker">
      <option value="" selected="selected">Choose a Category</option>
      {% for category in categories %}
        <option value="{{ category }}">{{ category }}</option>
      {% endfor %}
    </select>

    <p><input type="file" name="file"></p>
    <p><input type="submit" value="Upload"></p>
  </form>
{% endblock %}
