{% extends 'application.html' %}

{% block content %}
<div>
  <a href="/g/">Return to graphics index</a>

  {% if adjacent_pics['prev'] %}
    | <a href="/g/{{ pic.category }}/{{ adjacent_pics['prev'].title }}">Prev</a>
  {% endif %}

  {% if adjacent_pics['next'] %}
    | <a href="/g/{{ pic.category }}/{{ adjacent_pics['next'].title }}">Next</a>
  {% endif %}

  <h1>{{ pic.title }}</h1>
  <p>Views: {{ pic.views }} | Starred: {{ pic.starred }} time(s) </p>

  <p>
    <form method=post>
      <button type="submit" name="star" value="star">Star this Graphic</button>
    </form>
  </p>

  <a href="/static/g_pics/{{ pic.category }}/{{ pic.title }}"><img src="/static/g_pics/{{ pic.category }}/{{ pic.title }}" width="50%" height="50%" /></a>
</div>
{% endblock %}
