{% extends "application.html" %}

{% block style %} 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" type="text/css" />
{% endblock %}

{% block content %}
  <div class="main-section">
    {% if name %}
      <h2>Welcome, {{ name }}</h2>
    {% else %}
      <h2>Welcome</h2>
    {% endif %}
    <p><a href="/contribute">Post some graphics of your own</a></p>
    <p><a href="/gallery">Check out others' contributions</a></p>
    <p><a href="/g/">View an ordered index of all contributions</a></p>
    {# <p><a href="/g/best">View the best contributions</a></p> #}
    {# <p><a href="/g/popular">View the most popular contributions</a></p> #}

    <hr>

    <h2>Site Statistics</h2>
    <p>Total graphics uploaded: {{ stats['total_pics'] }}</p>
    <p>Total graphics views: {{ stats['total_views'] }}</p>
  </div>
{% endblock %}
