{% extends "app.html" %}

{% block style %} 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" type="text/css" />
{% endblock %}

{% block nav %} {% endblock %}

{% block content %}
  <div class="main-section">
    {% if name %}
      <h2>Welcome, {{ name }}</h2>
    {% else %}
      <h2>Welcome</h2>
    {% endif %}

    <p><a href="/contribute">Contribute</a></p>
    <p><a href="/g/gallery">Gallery</a></p>
    <p><a href="/g/categories">Index</a></p>
    <p><a href="/g/top">Top</a></p>

    <hr>

    <h2>Site Statistics</h2>
    <p>Total graphics uploaded: {{ stats['total_pics'] }}</p>
    <p>Total graphics views: {{ stats['total_views'] }}</p>
  </div>
{% endblock %}
